<div class="row">
    <div class="col-xs-12">
      <h3>Tambah Tugas (individu/grup)</h3>
      <hr>
      <label>Nama Tugas</label>
      <input type="text" class="form-control" [(ngModel)]="newTaskName">
      <label>Deskripsi</label>
      <input type="text" class="form-control" [(ngModel)]="newTaskContent">
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddTask()">Tambah Individu</button>
      <button
        class="btn btn-primary"
        (click)="onAddGroupTask()">Tambah Grup</button>
    </div>
  </div>
